*{
    margin: 0px;
    padding: 0px;
    font-family: ;
}
.text-orange{
    color: rgb(255, 102, 0);
}
.btn-primary{
    padding: 18px 35px;
    background-color: rgb(255, 102, 0);
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 200px;
    align-items: center;
    padding: 20px;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
    font-size: 25px;    
    
}
nav li{
    margin-right: 50px;
    list-style: none;
   
}

.nav-anchor{
    text-decoration: none;
    color: black;
    font-weight: 700px;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    max-width: 900px;
}
.banner-img{
    width: 500px;
    position: bottom right;
    
}
.banner-great{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner p{
    font-size: 20px;
    margin-bottom: 30px;
}

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about me */
.about{
    padding: 131px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 120px 0;
    
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-description{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 10px 20px;
    text-align: center;
}
.info-title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}
.info-description{
    font-size: 22px;
    font-weight: bold;
}
#what-i-do{
    padding: 30px 150px;
}

/* this is for skills */
.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
}

.skill-title{
    font-size: 20px;
    margin: 10px 0;
}
.skill-description{
    font-size: 18px;
    color: gray;
    
}

.skills-container img{
    width: 80px;
    height: 70px;
}

/* resume section  */
.resume-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0 30px;

}
.resume-item-title{
    font-size: 25px;
    margin-bottom: 5px;
}
.resume-item-institute{
    font-size: 18px;
    margin-bottom: 10px;
}
.resume-item-description{
    line-height: 25px;
    margin: 20px 0;
}
.resume-container hr{
    margin-bottom: 20px;
}
.download-cv{
    text-align: center;
    margin-top: 20px;
}
/* this is footer section  */

footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 230px ;
}

.social-links img{
    width: 70px;
}



